body { 
    margin: auto; 
    max-width: 1200px;
}
nav {
    background-color: rgba(16, 52, 166, 1);
}
h1 {
    color: rgba(16, 52, 166, 1);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px 0;
}
h2 {
    color:rgba(16, 52, 166, 1);
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px 0;
  }
h3 {
    color:rgba(16, 52, 166, 1);
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px 0;
    margin-left: 10px; 
}
p {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 10px;   
}
footer {
    background-color: rgba(16, 52, 166, 1);
 }

.pfooter {
    text-align: center;
}